In [49]:
x = 2
y = 2

# Just a simple addition function

In [50]:
def addfunc(a,b):  #the x,y are the parameters inside the function
    
    c = a + b      
    
    return c

In [48]:
addfunc(2,2)

4

# Multiplication function

In [20]:
def multifunc(x,y):
    
    c = a * b
    
    return c

In [21]:
multifunc(2,2)

4

# * return is not necessary in a function it will work without return also

In [41]:
def square_function(a):
    
    c = a * a
    
    return c

In [40]:
square_function(5)

25

In [123]:
def poweroftwo(n):
    
    return n**2

In [124]:
poweroftwo(3)

9

In [42]:
e = -2.5

# What absolute values does is returns us a postivie number

In [44]:
abs(e)

2.5

# Divide function

In [23]:
4 / 4

1.0

# Divide and get output without float

In [25]:
4 // 4

1

# * Filter Function

# find all positive numbers through Filtering

In [96]:
def find_positive(num):
    if num > 0:
        
        return num

In [97]:
number_list = range(-10,11)

# FYI NUM IS THE LIST WE WILL PASS TO THE ABOVE FUNCTION

In [98]:
list(number_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
all_positive_numbers = list(filter(find_positive,number_list))

In [100]:
all_positive_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# The above Function Filtered out all the positive numbers for us

In [101]:
def find_even(num):
    if num % 2== 0:
        
        return num

In [102]:
num_list = range(1,30)

In [103]:
all_even_numbers = list(filter(find_even,num_list))

In [104]:
all_even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [106]:
b = ["1","2","3","4","5"]

In [107]:
ac = list(map(int,b))

In [108]:
ac

[1, 2, 3, 4, 5]

In [109]:
ff = [1,3,4,5,6,6,7]

In [111]:
isinstance(ff,list)

True

In [112]:
a = 4

In [113]:
isinstance(a,int)

True

In [116]:
w = 4.4

In [117]:
isinstance(w,float)

True

In [118]:
tup = (1,2,3,4,5)

In [120]:
isinstance(tup,list)

False

In [1]:
from functools import reduce

In [2]:
def product(x,y):
    
    return x*y

In [4]:
p = product(5,5)

In [5]:
p

25

In [6]:
lst = [1,2,23,4]

In [7]:
reduce(product,lst)

184

In [8]:
def summ(x,y):
    
    return x+y

In [9]:
reduce(summ,lst)

30

# Advantages of the above functions are we can avoid loops otherwise we need loops to find the results