In [6]:
a = ["1","2","3"]

In [7]:
(" ").join(a)

'1 2 3'

# Multiple Variable Assignments

In [8]:
a,b,c = 5,6,7

In [10]:
a

5

In [11]:
b

6

In [12]:
c

7

In [14]:
a = 5

print(a,"a is a variable of type",type(a))

5 a is a variable of type <class 'int'>

In [15]:
b = 3.5

print(b,"is a type of",type(b))

3.5 is a type of <class 'float'>

In [16]:
c = "hello"

print(c,"this is a type of",type(c))

hello this is a type of <class 'str'>

# Slicing in a list

In [17]:
x = [1,23,4,5,6]

In [21]:
x[3] #slicing and picking the second last that is 4th value of the list a list always starts from index 0

5

In [22]:
x[-1] #to pick last value

6

In [24]:
y = ["xyz","abc","rrr"]

In [25]:
len(y)-1

2

In [30]:
x[0:4]   #picking all the values in a list and skipping the last value by slicing

[1, 23, 4, 5]

# Tuples

In [32]:
a = (1,2,3,4,"jaypee")

In [36]:
a[-1]

'jaypee'

In [140]:
a = (1)

In [141]:
type(a)

int

In [142]:
u = (1,)

In [143]:
type(u)

tuple

In [146]:
t = (1,2,3,("a","b","c"))

In [148]:
t[3]

('a', 'b', 'c')

In [150]:
t[3][1]

'b'

In [153]:
g = (("arjun",)*3)

In [154]:
g

('arjun', 'arjun', 'arjun')

In [156]:
q = (1,23,4,4)

In [157]:
del q

In [158]:
q

NameError: name 'q' is not defined

In [159]:
a = (1,1,1,333,4)

# we can also count values in a tuple

In [163]:
a.count(1)

3

In [167]:
print(a.index(333)) #gives the index of the specific element in the parasynthesis

3

In [155]:
# we cannot change neither we can delete a element in a tuple

# The difference between a Tuple and list is that a tuple is immutable which means we cant change the values in a tupple but we can change the values in a list which makes list mutable

# Python Sets

# Sets is an unordered collection of unique items

In [37]:
w = {1,2,3,4,5}

In [39]:
#we cannot slice or index a set and a set is always of unique values

# Python Dictionaries

# A python Dictionary always contains a key and value pair

In [47]:
zz = {a:"apples",b:"mangoes",c:"cherries"}

In [48]:
zz[a]

'apples'

In [53]:
for v,b in enumerate(zz):
    print(v,b)

0 (1, 2, 3, 4, 'jaypee')
1 3.5
2 hello

# String Concatenation

In [55]:
a = "my name is linu"
c = "and i got {} problems"
b = 99

In [58]:
print(a+c+str(b))

my name is linuand i got problems99

In [59]:
print("i got {} problems this aint one!".format(b))

i got 99 problems this aint one!

# Converting a string to a list

In [60]:
list("abc")

['a', 'b', 'c']

# Input output in Python

In [64]:
name = input("please enter your name :")  #string input

please enter your name :Linu

In [70]:
date_of_birth = int(input("please enter your birthday! :"))

please enter your birthday! :23

# Loops in Python

# While loop

In [76]:
x = 1

while x <= 10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [119]:
p = [1,2,3,4,5]
product = 1
index = 0

In [124]:
while index < (len(p)):
    product *= p[index]
    index +=1
    
print("The product of the list P is {}".format(product))

The product of the list P is 120

# For Loops

In [77]:
a_list = [1,2,3,4,5]

In [78]:
for i in a_list:
    print(i)

1
2
3
4
5

In [79]:
b_list = ["abc","rrr","qqq"]

In [80]:
for i in b_list:
    print(i)

abc
rrr
qqq

In [81]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [83]:
for i in range(1,10,2):   #jump every two numb
    print(i)

1
3
5
7
9

# Control statements if else and elif

In [91]:
num = 10

In [92]:
if num % 2 == 0:
    print("even",num)
    
else : 
    print("odd",num)

even 10

# Use of elif when we have multiple conditions to compare

In [93]:
if num > 10:
    print("greater")
elif num == 10:
    print(num,"is equals to Ten")
else :
    print("it is none of the above")

10 is equals to Ten

# An Example of nested if else its used when we want to apply a condition inside a condition

In [96]:
num = 15

In [98]:
if num ==10:
    if num % 2 == 0:
        
        print("its divisible by 2 The number is :",num)
else :
    
    print("its odd",num)

its odd 15

In [107]:
a = 10
b = 40
c = 30

In [114]:
if a>b and b>c:
    
    largest = a
    
elif b>c and b >a:
    
    largest = b
    
elif c>a and c>b:
    
    largest = c
print("the largest number is {}".format(largest))

the largest number is 40

# Prime number Program : A Prime number is a number divisible by 1 and itself

In [125]:
lower = 5
upper = 10

In [134]:
for num in range(lower,upper+1):     #we pick a range that is lower and upper start and end
    if num > 1:
        
        for n in(2,num):             #for checking prime we pick numbers above 1 we check all the below numbers from
                                     #num here n is all the numbers below n  
            if num % n == 0:
                print("its a Non Prime number",num)
                break
                
        else :

            print("its a non prime",num)

its a Non Prime number 5
its a Non Prime number 6
its a Non Prime number 7
its a Non Prime number 8
its a Non Prime number 9
its a Non Prime number 10

# break,continue and pass statements

In [135]:
c_list = [1,23,4,5,6]

In [136]:
for i in c_list:
    
    if i == 5:
        break
    else:
        print("the number is",i)

the number is 1
the number is 23
the number is 4

In [137]:
x_list = [12,22,14,16,13]

In [138]:
for i in x_list:
    
    if i %2 == 0:
        
        continue
    else:
        print(i)

13

In [139]:
for i in x_list:
    
    if i %2 == 0:
        
        pass
    else:
        print(i)

13

# Above continue and pass statements works same

# Sets

In [168]:
a = {1,2,3,4}

In [174]:
a.add(5)      #adding to a list

In [171]:
a

{1, 2, 3, 4, 5}

In [175]:
a.update([6,7,8])     #updating a list with multiple elements with a list inside a set

In [176]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
pwd

'/home/lj'

In [2]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [8]:
a = [1,2,3,4]

In [6]:
def myfunc(a):
    
    for i in range(a):

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [17]:
for i in thisdict.items():
    
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [18]:
w =[1,2,3,4,5]

In [20]:
w[:4]

[1, 2, 3, 4]

In [22]:
w[1:5]

[2, 3, 4, 5]